body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    
}
h1{
    font-size: 50px;
}
h4{
    font-weight: 900;
}
span{
    color:orange ;
}
.bg-color{
    text-decoration: none;
   background-image: linear-gradient(orange, tomato);
    padding: 10px 40px ;
    font-weight: 900;
   padding: 10px 40px;
    border-radius: 5px;
    color: white;
  
}
.half-width{
    width:50%;
   padding-left:10%;
}
.half-width img{
    width: 80%;
}
.top-banner{
    background: url(top-banner.png);
    background-repeat: no-repeat;
    
    
}
section{
   
    margin-bottom: 80px;
}
.flexiable-container{
    display: flex;
 
}
.flexiable-things{
    display: flex;
    
}
.experience-item{
    width:50%;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow:10px 10px 40px gray ;
    padding-left: 2%;
    
    
}
#rules{
 border-image: linear-gradient(blue, cyan)  ;
 border-left: 7px solid;
 border-image-slice: 1;

}
#breakrules{
    border-image: linear-gradient(salmon, tomato) ;
 border-left: 7px solid;
 border-image-slice: 1; 
}
footer{
    text-align: center;
}
.mid-banner{
    background-image: url(dream-bg.png);
   background-repeat: no-repeat;
   background-position: right;
}
.my-rules{
    background-image: url(exp-bg.png);
    background-repeat: no-repeat;
    background-position: bottom;
}
    